@font-face {
  font-family:'DSEG';
  src: url('./DSEG7-Classic/DSEG7Classic-Regular.ttf');
 }


body{
  font-family: cursive;
  background-color:  #222222;
}
body.msk{
  height: 100%;
  width: 100%;
}
.blog_name{
  font-size: 120px;
  color: white;
}
.app_name{
  font-size: 80px;
  color: white;
  text-align: center;
}
.modal{
  width: 600px;
  height: 400px;
  background-color: black;
  opacity: 0;
  transition: 5s;
  margin: 0 90px;
  margin-top: 70px;
  border:solid 10px #111111;

}
.active{
  opacity: 1;
}
.modal p{
  color: white;
  font-size: 40px;
  text-align: center;
}

.successTypedBox{
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.successTypedBox p{
  margin: 0 20px;
  margin-right:60px;
}

.failureTypedBox{
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.failureTypedBox p{
  margin: 0 20px;
  margin-right:60px;
}

.totalBox{
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.totalBox p{
  margin: 0 35px;
  margin-right:60px;
}
.rankBox{
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.rankBox p{
  margin: 0 35px;
  margin-right:60px;
}

.heading{
  text-align: center;
  color: aqua;
}

main{
  margin: auto;
  width: 800px;
  height: 600px;
}

.modal h1{
  color: white;
  text-align: center;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
}

.timers{
  font-family:'DSEG';
  border-radius: 40px;
  margin: auto;
  height: 80px;
}

.msk{
  width: 100px;
  height: 100px;
  background-color:  #222222;
}

#timer{
  font-family:'DSEG';
  width: 150px;
  font-size: 20px;
  margin: auto;
  padding: 10px 0;
  padding-left:30px;
  background-color: black;
  border:solid 10px #111111;
  color: aqua;
  border-radius: 30px;
}

.buttons{
  width: 30%;
  height: 60%;
  margin: auto;
  padding-left: 68px;
  padding-top: 20px;
}

button{
  background-color: black;
  color: white;
  font-size: 15px;
  margin: 0 3px;
  margin-top: 10px;
  color: aqua;
}

.typingEria{
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
  background: black;
  margin-top: 60px;
  border:solid 10px #111111;
  font-size: 80px;
  text-align: center;
  font-family: inherit;
}

.text{
  margin: auto;
  margin-top: 114px;
}

#typed{
  color: aqua;
}

#untyped{
  color: aliceblue  ;
}

h1{
  text-align: center;
}

.none{
  display: none;
}

.block{
  display: block;
}

#start_app{
  font-size: 60px;
  border-radius:30px ;
  padding: 0 40px;
  color: white;
}

#start_app:hover{
  color: aqua;
}

.start_app_box{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

img{
  width: 100px;
  height: 100px;
  z-index: 20;
}
